<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>

    
</head>
<body>

    <nav class="nav" style="background-color: rgb(219, 118, 206); ">
        
        <a class="nav-link" href="/"  style="margin-left: 5px;">Shop</a>
        
        <a class="nav-link" href="/" style="margin-left: 20px;">Add Product</a>
        
      </nav>

    
   <ul>
    <h1>My Products</h1>

    <p>List of all products....</p>
   </ul>
    
    
</body>
</html>