<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
<style>
    body{
        background-color: rgb(195, 151, 209);
    }
    .nav{
        display: flex;
        font-size: large;
        background-color: azure;
        height: 30px;
        justify-content: left;
        display: block

    }

   .nav-link{

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    
   }

</style>
    
</head>
<body>

    <nav class="nav" >
        
        <a class="nav-link" href="/"  >Shop</a>
        
        <a class="nav-link" href="/" >Add Product</a>


        
      </nav>

    
   <ul>
    <h1>My Products</h1>

    <p>List of all products....</p>
   </ul>
    
    
</body>
</html>